<div class="registro">
  <form class="custom-form" method="post">
    <h1>Registrar</h1>
    <input type="email" [(ngModel)]="email" name="email" placeholder="Email" required="required" />
    <input type="password" [(ngModel)]="password" name="password" placeholder="Contraseña" required="required" />
    <input type="password" [(ngModel)]="confirmPassword" name="password" placeholder="Repetir la contraseña" required="required" />
    <ion-button [routerLink]="['/home']">Registrar</ion-button>
  </form>

</div>
